<div style="height: 100%" class="p-6">
  <!-- Card for each product -->
  <div
    style="height: 100%"
    class="bg-white border rounded-lg shadow-md overflow-hidden flex flex-col justify-between"
  >
    <img
      [src]="product.imageUrl"
      alt="{{ product.name }}"
      class="w-full h-48 object-cover"
    />
    <div class="p-4 flex flex-col justify-between h-full">
      <div class="flex justify-between items-center">
        <h3 class="text-lg font-semibold text-gray-800">{{ product.name }}</h3>
        <div class="flex flex-col gap-2">
          <button
            class="bg-red-500 rounded p-1 text-slate-50"
            (click)="handleDelete()"
          >
            Delete
          </button>
          <button
            (click)="openModel()"
            class="bg-blue-500 rounded p-1 text-slate-50"
          >
            Edit
          </button>
        </div>
      </div>
      <p class="text-gray-600 mt-2">
        {{ product.description }}
      </p>
      <p style="color: green" class="text-gray-800 font-bold mt-2">
        {{ product.price }} $
      </p>

      <div class="mt-2">
        <p *ngIf="product.inStock; else outOfStock" class="text-green-600">
          In Stock: {{ product.quantity }}
        </p>
        <ng-template #outOfStock>
          <p class="text-red-600">Out of Stock: {{ product.quantity }}</p>
        </ng-template>
      </div>

      <button
        [ngStyle]="{ 'background-color': product.state ? '#3b82f6' : 'red' }"
        class="mt-4 w-full text-white py-2 rounded-md hover:bg-blue-600 bg-blue-500"
        [disabled]="!product.inStock"
      >
        Add to Cart
      </button>
    </div>
  </div>

  <!-- Add more cards for other products following the same structure -->
</div>
